@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root colors */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* Dark mode */
.dark {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

/* Apply base styles */
@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: 10px;
}
